<%= render "shared/errors", obj: @article %>
<!-- :html => {class: "form-horizontal", role: "form"} -->
<%= form_with(model: article, local: true, class: "form-horizontal") do |form| %>
  <div class='row'>
    <div class="col-xs-12">
      <div class='form-group'>
        <div class="col-sm-8">
            <%= form.label :title, class: 'col-sm-1 control-label' %>
            <%= form.text_field :title, class:'form-control', placeholder:"Title of the article" %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-8">
            <%= form.label :description, class: "col-sm-1 control-label" %>
            <%= form.text_area :description, class:'form-control',placeholder:"body of your description", rows:5 %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-6 col-sm-8">
            <%= form.submit class:'btn btn-success btn-xg'%>
        </div>
      </div>
    </div>
  </div>
<% end %>
